body {
    background: url(../images/dark_exa.png);
    color: #ecf0f1;
    margin:0;
    padding:0;
}

body.splash {
    background: url(../images/splash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #333;
}

body.splash .segment {
    margin-top: 20%;
    text-align: center;
}

form.actions {
    display: inline-block;
}

form.actions button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #eee;
}
#screenshot-app {
    position: relative;
}

#app .menu {
    bottom:0;
}

#screenshot-app > img {
    width: 100%;
    position: relative;
    z-index: 2000;
}
#screenshot-app > svg {
    top:0;
    left:0;
    position: absolute;
    z-index: 3000;
}

#app line {
    stroke: black;
}

#app rect {
    stroke: black;
    fill: white;
    cursor: move;
}

#app img.data-gallery {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.handle.handle-line {
    cursor: move;
}

.handle.handle-nw {
    cursor: nw-resize;
}

.handle.handle-nw {
    cursor: ne-resize;
}

.handle.handle-sw {
    cursor: sw-resize;
}

.handle.handle-se {
    cursor: se-resize;
}


.btn-download {
    font-size: 0.63em;
}

.btn-excel {
    color: #217346;
}
